body {
  font-family: Arial, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1639932601837-3c8ed43283c7?q=80&w=2521&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 1200px;
  height: 700px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 50px;
  margin: 10px 0;
  flex-direction: row;
}

form button {
  width: calc(33.333% - 10px);
  margin-right: 10px;
  background-color: #146eb4;
  color: white;
  padding: 40px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}
form button:hover {
  background-color: #0056b3;
}
form button:nth-child(3n) {
  margin-right: 0;
}

.selectionBox label {
  width: 100%;
  display: block;
  font-weight: bold;
}
.selectionBox input[type="radio"] {
  margin-right: 10px;
}

.selection {
  width: calc(30% - 10px);
  margin-right: 10px;
  background-color: #146eb4;
  color: white;
  padding: 40px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.selection:nth-child(3n) {
  margin-right: 0;
}
.layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin: 10px 0;
  flex-direction: row;
}

.selectionBox button {
  width: 30%;
  background-color: #146eb4;
  color: white;
  padding: 50px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}
.selectionBox button:hover {
  background-color: #0056b3;
}

.selected {
  background-color: green; /* Change to your desired color */
  color: white; /* Optional: change text color */
}

.return-btn,
.cancel-btn {
  padding: 30px 50px;
  background-color: #232f3e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  position: relative;
}

.return-btn:hover,
.cancel-btn:hover {
  background-color: #000000;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.goback {
  padding: 30px 50px;
  background-color: #232f3e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  position: absolute;
  top: 30px;
  right: 20px;
}

input {
  margin-top: 10px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.box_centered {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.keyboard {
  position: absolute;
  top: 20px;
  right: 29px;
  width: 60px;
  cursor: pointer;
}
.user-input {
  width: 100%;
  margin-top: 20px;
}
.user-input span {
  font-size: 20px;
}
.user-input input {
  width: 85%;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.simple-keyboard {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  padding: 20px;
}

.hg-theme-default .hg-button {
  height: 65px !important;
}
