<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Answer the Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='osk.css') }}">
    <style>
        .alexa-stop {
            background-color: rgba(216, 69, 4, 0.58);
        }

        .alexa-stop:hover {
            background-color: rgba(216, 69, 4, 0.8);
        }
    </style>
</head>



<body>
    <div class="container">
        <img class="keyboard" src="{{ url_for('static', filename='keyboard.png')}}" alt="">
        <div class="button-container">
            <button class="cancel-btn" onclick="window.location.href='/clear';">Cancel</button>
        </div>
        <h1>{{tisp}}</h1>
        <div class="user-input">
            <span>Customization:</span>
            <input type="text" name="user_input" id="user_input" placeholder="Type your command here"
                value="{{ task_selection }}" disabled>
        </div>
        <form method="post" action="/step4">
            {% for option in question[:8] %}
            <button type="submit" name="question_answer" value="{{ option }}">{{ option }}</button>
            {% endfor %}
            <button type="button" id="alexa-stop" class="alexa-stop">Alexa stop</button>
            <input type="hidden" name="task_selection" value="{{ task_selection }}">
        </form>
    </div>
    <div class="simple-keyboard" style="display: none;"></div>
</body>
<script src="{{ url_for('static', filename='osk.js')}}"></script>
<script src="{{ url_for('static', filename='keyboard.js')}}"></script>
<script>
    document.getElementById('alexa-stop').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('alexa-stop').style.backgroundColor = 'rgba(216, 69, 4, 0.8)';
        const wakeWordAudio = new Audio('{{ url_for("static", filename="ZiggyStop.m4a") }}');
        wakeWordAudio.play();
        wakeWordAudio.onended = function () {
            window.location.href = '/clear';
        };
    });
</script>
<script>
    function goback(content) {
        fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'user_input': content
            })
        })
            .then(response => response.text())
            .then(html => {
                document.open();
                document.write(html);
                document.close();
            })
            .catch(error => console.error('Error:', error));
    }
</script>

</html>